<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medignosis</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/logo negro.png">
</head>
<body>
    <div class="banner">
        <div class="navbar">
            <img src="/static/logo full.png" class="logo">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/patients">Patient´s questionnaire</a></li>
                <li><a href="/nurse">Nurse´s portal</a></li>
                <li><a href="/head">Hospital manager´s portal</a></li>
            </ul>
        </div>
    </div>
    <div id= "home" class="content">
        <h1>MEDIGNOSIS</h1>
        <p> Using AI to optimize medical diagnosis</p>
        <div>
            <button type="button"><a href="/patients"><span></span>PATIENT</a></button>
            <button type="button"><a href="/nurse"><span></span>NURSE</a></button>
            <button type="button"><a href="/head"><span></span>HOSPITAL MANAGER</a></button>

        </div>
    </div>
    
</body>

</html> 