<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medignosis</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/logo negro.png">
</head>
<body>
    <div class="banner">
        <div class="navbar">
            <img src="/static/logo full.png" class="logo">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/patients">Patient´s questionnaire</a></li>
                <li><a href="/nurse">Nurse´s portal</a></li>
                <li><a href="/head">Hospital manager´s portal</a></li>
            </ul>
        </div>
    </div>

    <div id= "Nurse" class="content">
        <h1>NURSE</h1>
        <p> Medignosis</p>
        <div>
            <button type="button"><a href="/medignosisT"><span></span>TRIAGE PATIENT</a></button>
            <button type="button"><a href="/medignosisT2"><span></span>MISTRIAGE PATIENT</a></button>
            <button type="button"><a href="/Nurseact"><span></span>ACTIONS</a></button>
        </div>
    </div>
</body>
</html>